h1 {
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    width: 300px;
}

div a {
    padding: 0;
    border: none;
}

a {
    padding: 10px 10px 10px 10px;
}



.maindiv {
    display: flex;
    gap: 35px;
    margin-bottom: 25px;
}

.button {
    width: 100px;
    height: 30px;
    background: blue;
    color: #fff;
    cursor: pointer;
}

.divForm {
    display: flex;
    flex-direction: column;
    width: 299px;
    gap: 25px;
}

.unitsUl {
    margin-bottom: 25px;
    margin-top: 25px;
}

.button-plus {
    width: 30px;
    height: 30px;
    background: blue;
    color: white;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 20px;
}


select {
    width: 150px;
}
